.about p {
    position: relative;
}

.about img {
    float: right;
    margin-left: 20px;
}

.about-short p {
    position: relative;
}

.about-short img {
    float: right;
    height: 150px;
    margin-left: 20px;
}
