$borderColor: #4c4545;

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: black;
    background-color: transparent;
    border-top-color: $borderColor;
    border-left-color: $borderColor;
    border-right-color: $borderColor;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-top-color: $borderColor;
    border-left-color: $borderColor;
    border-right-color: $borderColor;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
}

.nav-tabs {
    border-bottom: 1px solid $borderColor;
}
